@charset "UTF-8";

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* VARIÁVEIS */
:root {
    --azul-escuro: #0F1E3D;
    --azul-medio: #1C2F5A;
    --amarelo: #F4D35E;
    --branco: #d6d6d6;
    --preto: #111111;
}

/* GERAL */
body {
    box-shadow:1px 2px rgba(0, 0, 0, 0.438)  ;
    text-shadow:1px 1px rgba(0, 0, 0, 0.356) ;
    background-color: var(--azul-medio);
    color: var(--preto);
    line-height: 1.6;
    padding-top: 0;

}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 8px;
}

/* HEADER FIXO */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--azul-escuro);
}

/* MENU */
.menu {
    max-width: 1100px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#menu {
    max-width: 1100px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    color: var(--amarelo);
    font-size: 1.8em;
    font-weight: 700;
}

/* MENU */
nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s;
}

nav#menu a:hover {
    background-color: var(--amarelo);
    color: var(--azul-escuro);
}

.logo img{
    width: 10%;
    border-radius: 25%;
}
li:hover {
    
}
/* NAV */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: var(--amarelo);
}

/* SEÇÕES */
section {
    scroll-margin-top: 90px; /* altura do header */
    margin: 30px;
}


/* INÍCIO */
#inicio {
    border-radius: 8px;
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
    padding: 80px 20px;
}

#inicio h2 {
    font-size: 2em;
    color: var(--amarelo);
}

#inicio p {
    max-width: 700px;
    margin: auto;
}

/* TÍTULOS */
section h2 {
    color: var(--azul-escuro);
    margin-bottom: 10px;
}

/* LISTAS */
#servicos ul {
    padding-left: 20px;
}

#servicos li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
#btn-menu {
    display: none;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .menu {
        flex-direction: column;
        gap: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
     #btn-menu {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--amarelo);
        cursor: pointer;
    }

    nav#menu ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: var(--azul-escuro);
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border-radius: 8px;
    }

    nav#menu ul.ativo {
        display: flex;
    }
}

